.post {
  blockquote {
    font-style: normal;
    background-color: #fffbef;
    padding: 1rem;
    margin-top: 1.5rem;
    border: 1px solid #596371;
    border-left-width: 7px;
    border-radius: 0 7px 7px 0;
    box-shadow: 7px 7px 0px rgba(0, 0, 0, 0.1);

    p {
      font-size: 0.8em;
      font-weight: 500;
      color: #303030;
      letter-spacing: 0.005rem;
    }
  }
  .post-content {
    ol {
      margin-bottom: 1.5rem;
    }

    ul {
      li {
        list-style-type: disc;
        margin-bottom: 0.5rem;
      }
    }

    p {
      img {
        margin: 1rem auto;
      }
    }
  }
}
