@import "bp/markdown";
@import "bp/typography";

body {
  color: #101010;
}

.home {
  &Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7rem;
  }
}

.doc {
  &Grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 960px) {
      grid-template-columns: 1fr 30%;
      grid-gap: 7em;
    }
  }

  &Nav {
    &-heading {
      color: #c00006;
      font-size: 1.56rem;
      margin-bottom: 0;
    }
    ul {
      padding-top: 0;
      margin: 0 0 1em;
      padding-left: 0;
      padding-right: 0;

      li {
        margin: 0;
        padding-left: 5px;
        list-style-image: none;
        list-style-type: none;

        h4 {
          color: #808080;
          font-weight: 700;
          padding-bottom: 0.2rem;
          margin: 2rem 0 0.5rem;
          text-transform: uppercase;
          font-size: 1rem;
          border-bottom: 4px solid #f4f4f4;
          letter-spacing: 0.05rem;
        }

        ul {
          padding-top: 0;
          li {
            border-bottom: 1px dotted #d4d4d4;
          }
        }

        a {
          display: block;
          font-size: 1.2rem;
          padding: 14px 5px 14px 5px;
        }

        &.active {
          font-weight: 800;
          border-left: 5px solid #c00005;
          font-weight: 700;
          background-color: #f0f0f0;

          a {
            color: #c00005;
          }
        }
      }
    }
  }
}
.page-content {
  padding: 1rem 0;
  @media only screen and (min-width: 760px) {
    padding: 2rem 0 3rem;
  }
}
.wrapper {
  @media only screen and (min-width: 960px) {
    max-width: 1200px;
    min-width: 801px;
    width: auto;
  }
}

.site-header {
  padding: 1rem 0;
}

.site-title {
  font-size: 2.4rem;

  &:hover {
    text-decoration: none;
  }
}
.brand {
  color: #c00005;
  font-weight: 800;
  margin: 0;
}

.brand-name {
  font-weight: 800;
}

.post-list {
  &-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #c00005;
  }

  h3 {
    margin-bottom: 7px;
    font-size: 1.67rem;
    font-weight: 300;
  }

  & > li {
    margin-bottom: 0;
  }

  .post-link {
    font-size: 1.67rem;
  }

  .post-excerpt {
    font-size: 1.12rem;
  }
}
.post-header {
  h1 {
    color: #404040;
    font-size: 3.34rem;
  }
}

.post-content {
  @media only screen and (min-width: 760px) {
    font-size: 1.23rem;
  }

  h2 {
    color: #707070;
    margin-top: 1.23em;
    font-size: 2.45rem;
  }

  h3 {
    color: #606060;
    margin: 1em 0 10px;
    font-weight: 500;
    font-size: 2rem;
  }

  p {
    img {
      margin: 2em 0;
    }
  }

  ul,
  ol {
    li {
      margin: 0 0 1em 0;
      padding: 0;
    }
  }

  ul li {
    list-style-image: none;
    list-style: none;
  }

  ol li {
    margin-left: 1.2rem;
  }
}

.post-meta {
  color: #a0a0a0;
  padding-top: 1em;
  font-style: italic;
  p {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  font-size: 1.34rem;
  margin-bottom: 1rem;
}

footer {
  background-color: #e9f4ff;

  &.site-footer {
    border-top: none;
    padding-top: 3rem;
  }
  p {
    font-size: 1rem;
  }
}

.page-navigation {
  margin-top: 3rem;
  padding-top: 1.34rem;
  border-top: 1px solid #e0e0e0;
  nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;

    a {
      border-radius: 5px;
      background-color: #c00005;
      color: white;
      padding: 0.67rem 1rem;
      font-weight: 800;
      font-size: 1rem;
      box-shadow: 0 4px 6px rgba(60, 60, 60, 0.11),
        0 1px 3px rgba(0, 0, 0, 0.08);
    }
  }
}

.search {
  #site_search {
    visibility: hidden;
  }
}

.post-category {
  margin-bottom: 3rem;
  padding: 0 1rem;
  @media only screen and (min-width: 760px) {
    margin-bottom: 4rem;
    padding: 0 3rem;
  }
}

.catGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 2rem;

  @media only screen and (min-width: 760px) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem 5rem;
  }
}

.cat-list {
  ul {
    margin-left: 0;
    li {
      list-style-type: none;
      list-style-image: none;

      a {
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}

.search-module {
  background-color: #e9f4ff;
  margin-bottom: 1rem;
  padding: 1rem 0 0;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);

  @media only screen and (min-width: 760px) {
    padding: 3rem 0 0;
    margin-bottom: 3rem;
  }

  #search-searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;

    @media only screen and (min-width: 760px) {
      padding-bottom: 2rem;
    }
  }

  .ais-search-box {
    max-width: 90%;
    @media only screen and (min-width: 760px) {
      max-width: 64%;
    }
  }

  .ais-hits {
    background-color: #eff7ff;
    padding: 2rem 6rem;
  }
}

.search-box {
  background-color: #e9f4ff;

  margin-bottom: 3rem;

  @media only screen and (min-width: 760px) {
    padding: 2rem 8rem;
  }

  table {
    margin: 0;

    td {
      border: none;
    }
  }

  .gsc-control-cse {
    background-color: transparent;
    border: none;
  }
}

.site-search {
  border: solid 3px #111;
  display: inline-block;
  position: relative;
  border-radius: 50px;
  transform: scale(0.7) translateY(5px);
  input[type="text"] {
    font-family: "Mukta";
    font-size: 120%;
    font-weight: 400;
    color: #111 !important;
    width: 50px;
    height: 50px;
    padding: 5px 40px 5px 10px;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
    &:focus {
      outline: none;
      color: #111 !important;
    }
    &:focus,
    &:not(:placeholder-shown) {
      width: 300px;
      transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
      + span {
        bottom: 13px;
        right: 10px;
        transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
      }
      + span:after {
        top: 0;
        right: 10px;
        opacity: 1;
        transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms,
          opacity 300ms ease 1100ms;
      }
    }
  }
  span {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -13px;
    right: -15px;
    transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
    &:before,
    &:after {
      content: "";
      height: 25px;
      border-left: solid 3px black;
      position: absolute;
      transform: rotate(-45deg);
    }
    &:after {
      transform: rotate(45deg);
      opacity: 0;
      top: -20px;
      right: -10px;
      transition: top 300ms ease-out, right 300ms ease-out,
        opacity 300ms ease-out;
    }
  }
}
