@import "bp/typography";

body {
  color: #101010;
}

.home {
  &Grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5rem;
  }
}

.doc {
  &Grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: 1fr;

    @media only screen and (min-width: 960px) {
      grid-template-columns: 1fr 30%;
      grid-gap: 7em;
    }
  }

  &Nav {
    &-heading {
      font-size: 1.34rem;
      text-transform: uppercase;
      letter-spacing: 0.05rem;
    }
    ul {
      margin: 1em 0;
      padding-left: 0;
      padding-right: 0;
      border-bottom: 1px dotted #d4d4d4;
      li {
        margin: 0;
        padding-left: 5px;
        border-top: 1px dotted #d4d4d4;
        list-style-image: none;
        list-style-type: none;

        a {
          display: block;
          font-size: 1.23rem;
          padding: 14px 5px 14px 5px;
        }

        &.active {
          font-weight: 800;
          border-left: 5px solid #c00005;
          font-weight: 700;
          background-color: #f0f0f0;

          a {
            color: #c00005;
          }
        }
      }
    }
  }
}
.page-content {
  padding: 60px 0;
}
.wrapper {
  @media only screen and (min-width: 960px) {
    max-width: 1200px;
    min-width: 801px;
    width: auto;
  }
}
.site-header {
  padding: 1rem 0;
}
.site-title {
  font-size: 3rem;

  &:hover {
    text-decoration: none;
  }
}
.brand {
  color: #c00005;
  font-weight: 800;
  margin: 0;
}

.brand-name {
  font-weight: 800;
}

.post-list {
  &-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    margin-bottom: 7px;
  }

  .post-link {
    font-size: 1.8rem;
  }

  .post-excerpt {
    font-size: 1.12rem;
  }
}
.post-header {
  h1 {
    color: #404040;
    font-size: 3.34rem;
  }
}

.post-content {
  @media only screen and (min-width: 760px) {
    font-size: 1.23rem;
  }

  h2 {
    color: #707070;
    margin-top: 1.23em;
    font-size: 2.45rem;
  }

  h3 {
    color: #606060;
    margin: 1em 0 10px;
    font-weight: 500;
    font-size: 2rem;
  }

  p {
    img {
      margin: 2em 0;
    }
  }

  ul,
  ol {
    margin-left: 0;
    li {
      list-style-image: none;
      list-style: none;
      margin: 0 0 1em 0;
      padding: 0;
    }
  }
}

.post-meta {
  color: #a0a0a0;
  padding-top: 1em;
  font-style: italic;
  p {
    font-size: 1rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure {
  font-size: 1.34rem;
  margin-bottom: 1rem;
}
