---
layout: default
---

<div class="search-module">
  <div id="search-searchbar"></div>
  <div id="search-hits"></div>
</div>

<div class="home">
  <div class="post-category">
    <h2 class="post-list-heading">{{ page.list_title | default: "Bookingpad Support" }}</h2>
    <ul class="post-list catGrid">
      <li>
        <h3>
          Overview
        </h3>
        <ul>
          {%- for bookingpad_doc in site.bookingpad_docs -%}
          {%- if bookingpad_doc.sub_category == "overview" -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Shopping & Booking
        </h3>
        <ul>
          {%- for bookingpad_doc in site.bookingpad_docs -%}
          {%- if bookingpad_doc.sub_category == "shopping-booking" -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Order Management & Servicing
        </h3>
        <ul>
          {%- for bookingpad_doc in site.bookingpad_docs -%}
          {%- if bookingpad_doc.sub_category == "order-management-servicing" -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Corporates & Traveler Profiles Management
        </h3>
        <ul>
          {%- for bookingpad_doc in site.bookingpad_docs -%}
          {%- if bookingpad_doc.sub_category == "profile-management" -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Third-Party
        </h3>
        <ul>
          {%- for bookingpad_doc in site.bookingpad_docs -%}
          {%- if bookingpad_doc.sub_category == "third-parties" -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
    </ul>

  </div>
  <div class="post-category">
    <h2 class="post-list-heading">{{ page.list_title | default: "Agency Portal Support" }}</h2>

    <ul class="post-list catGrid">
      <li>
        <h3>
          Overview
        </h3>
        <ul>
          {%- for agencyportal_doc in site.agencyportal_docs -%}
          {%- if agencyportal_doc.sub_category == "ap_overview" -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Airlines
        </h3>
        <ul>
          {%- for agencyportal_doc in site.agencyportal_docs -%}
          {%- if agencyportal_doc.sub_category == "manage-airlines" -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Agents
        </h3>
        <ul>
          {%- for agencyportal_doc in site.agencyportal_docs -%}
          {%- if agencyportal_doc.sub_category == "manage-agents" -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Partners
        </h3>
        <ul>
          {%- for agencyportal_doc in site.agencyportal_docs -%}
          {%- if agencyportal_doc.sub_category == "manage-partners" -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Developers
        </h3>
        <ul>
          {%- for agencyportal_doc in site.agencyportal_docs -%}
          {%- if agencyportal_doc.sub_category == "manage-developers" -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
    </ul>

  </div>
</div>

{% include algolia.html %}