---
layout: default
---

<div class="search-module">
  <div id="search-searchbar"></div>
  <div id="search-hits"></div>
</div>

<div class="home">
  <div class="post-category">
    <h2 class="post-list-heading">{{ page.list_title | default: "Bookingpad Support" }}</h2>

    <ul class="post-list catGrid">
      <li class="cat-list">
        <h3>
          Overview
        </h3>
        <ul>
          {% assign bp-overview-docs = site.bookingpad_docs | where: "sub_category","overview" %}
          {% for bookingpad_doc in bp-overview-docs limit:3 %}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {% endfor %}
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Shopping & Booking
        </h3>
        <ul>
          {% assign shopbook-docs = site.bookingpad_docs | where: "sub_category","shopping-booking" %}
          {% for bookingpad_doc in shopbook-docs limit:3 %}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
          <li>
            <a href="/">More</a>
          </li>
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Order Management & Servicing
        </h3>
        <ul>
          {% assign order-docs = site.bookingpad_docs | where: "sub_category","order-management-servicing" %}
          {%- for bookingpad_doc in order-docs limit:3 -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Corporates & Traveler Profiles Management
        </h3>
        <ul>
          {% assign profile-docs = site.bookingpad_docs | where: "sub_category","profile-management" %}
          {%- for bookingpad_doc in profile-docs limit:3 -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      <li class="cat-list">
        <h3>
          Third-Party
        </h3>
        <ul>
          {% assign thirdparty-docs = site.bookingpad_docs | where: "sub_category","third-parties" %}
          {%- for bookingpad_doc in thirdparty-docs limit:3 -%}
          <li>
            <a href="{{ bookingpad_doc.url }}">
              {{ bookingpad_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
    </ul>

  </div>
  <div class="post-category">
    <h2 class="post-list-heading">{{ page.list_title | default: "Agency Portal Support" }}</h2>

    <ul class="post-list catGrid">
      <li>
        <h3>
          Overview
        </h3>
        <ul>
          {% assign ap-overview-docs = site.agencyportal_docs | where: "sub_category","ap_overview" %}
          {%- for agencyportal_doc in ap-overview-docs -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Airlines
        </h3>
        <ul>
          {% assign airlines-docs = site.agencyportal_docs | where: "sub_category","manage-airlines" %}
          {%- for agencyportal_doc in airlines-docs -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Agents
        </h3>
        <ul>
          {% assign agents-docs = site.agencyportal_docs | where: "sub_category","manage-agents" %}
          {%- for agencyportal_doc in agents-docs -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Partners
        </h3>
        <ul>
          {% assign partners-docs = site.agencyportal_docs | where: "sub_category","manage-partners" %}
          {%- for agencyportal_doc in partners-docs -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <h3>
          Managing Developers
        </h3>
        <ul>
          {% assign developers-docs = site.agencyportal_docs | where: "sub_category","manage-developers" %}
          {%- for agencyportal_doc in developers-docs -%}
          <li>
            <a href="{{ agencyportal_doc.url }}">
              {{ agencyportal_doc.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </li>
    </ul>

  </div>
</div>

{% include algolia.html %}