---
layout: default
---

<div class="home">
  <h2 class="post-list-heading">{{ page.list_title | default: "Bookingpad Docs" }}</h2>
  {%- for item in site.docs -%}
    {%- if item.category == "bookingpad" -%}
    <ul class="post-list">
      <li>
        <h3>
          <a class="post-link" href="{{ item.url | relative_url }}">
            {{ item.title | escape }}
          </a>
        </h3>
      </li>
    </ul>
    {%- endif -%}
    {%- endfor -%}

    <h2 class="post-list-heading">{{ page.list_title | default: "Agency Portal Docs" }}</h2>
    {%- for item in site.docs -%}
    {%- if item.category == "agency_portal" -%}
    <ul class="post-list">
      <li>
        <h3>
          <a class="post-link" href="{{ item.url | relative_url }}">
            {{ item.title | escape }}
          </a>
        </h3>
      </li>
    </ul>
    {%- endif -%}
  {%- endfor -%}

</div>